
  <div class="row">
      <div class="col">
      <div class="navbar navbar navbar-dark bg-dark navHeader">

        <div class="col-3">
          <i class="fas fa-university fa-3x" style="color: white;"></i>
        </div>
        <div class="col-sm-8">
          <a href="#" class="navbar-brand mainHeader" style="font-family:'Times New Roman',
          Times, serif;">Microsoft App Factory Interns</a>
        </div>
          
      </div>
    </div>
    </div>

<div class="container-fluid">
   <div class="justform" style="margin-top: 2.5rem; margin-right: 0.5rem;">
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <form action="api/logIn" method="POST">

          <div class="pass">
          <input type="text" class="form-control" name="name"
          placeholder="User name" id="exampleInputPassword1" style="font-family:'Times New Roman', Times, serif; text-align: center;">
          </div>

          <input type="email" class="form-control" name="email"
          placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" style="font-family:'Times New Roman', Times, serif; text-align: center;">


          <input type="password" class="form-control" name="password"
          placeholder="new pasword" id="exampleInputEmail1" aria-describedby="emailHelp" style="font-family:'Times New Roman', Times, serif; text-align: center;">

           <div class="submitBtn" style="text-align: center; margin-top: 1rem; font-family: Georgia, 'Times New Roman', Times, serif;
              font-size: 10px;">
            <button type="submit" class="btn btn-primary">Register</button>
            </div>

        </form>
      </div>
    </div>
    </div>
    </div>